html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.box {
	color:white;
	width:172px;
	height:72px;
	padding:10px 10px;
	border: 1px solid black
}
#box1 {
	background-color:#D84231;
}
#box2 {
	background-color:#EAAE33;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:30px;
}
#box3 {
	background-color:#FCF733;
	margin-left:60px;
}
#box4 {
	background-color:#578C05;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:90px;
}
#box5 {
	background-color:#234AFB;	
	margin-left:120px;
}
#box6 {
	background-color:#DF8BF0;	
	margin-top:10px;
	margin-left:150px;
}
