.header {
	color:#BBAA55;
	text-decoration: underline;
}
#all-text {
	font-family: 'Raleway', sans-serif;
	background-color:#992222;
	background-image: url("/img/harley1.jpg");
	background-repeat:no-repeat;
	background-size: 80%;
	background-position: center;
}